//- メインビジュアル
div.c-slider.js-slider
    .item
        | <img src="/assets/images/example01.jpg">
    .item
        | <img src="/assets/images/example02.jpg">
    .item
        | <img src="/assets/images/example03.jpg">
