.l-section.is-contact.is-md
    .l-container
        .p-contact
            h2.p-contact__title.heading.is-xlg CONTACT
            p.p-contact__lead お問い合わせは以下からお願いします。

            .p-contact__tel
                i.fa.fa-phone
                | 0120-24-2010
            p
                | 平日 10:00 〜 19:00
            .p-contact__button
                a(href="/contact.html").c-button.is-outline メールでのお問い合わせはこちら
