# editorconfig ファイル
# 各IDE, テキストエディタに用意してあるパッケージ、プラグインをインストールしてください
# editorconfig.org

root = true

## すべての拡張子

[*]

indent_style = space            # インデントはスペース
indent_size = 2                 # インデントのサイズは2
end_of_line = lf                # 改行コードは LF
charset = utf-8                 # 文字コードは UTF-8
trim_trailing_whitespace = true # 行末のスペースを削除
insert_final_newline = true     # ファイルの末尾を改行

## MarkDown, Jade は行末のスペースを削除しない

[*.md,*.jade]
trim_trailing_whitespace = false
