extends /inc/foundation/_base.pug
block append config
  - current.id = "contact" // ページのID
  - current.title = "お問い合わせ" // タイトル
  - current.description = "これはお問い合わせフォームの説明文です" // 説明文
  - current.bodyClass = "contact" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  +c_page_header(false, "お問い合わせ")
  .l-container
    .c-breadcrumb
      ul
        li
          a(href="#") HOME
        li
          span >
        li
          span CONTACT
  section.l-main
    .l-section
      .l-container
        .c-contact-head
          .c-contact-head__text
            | お電話でのお問い合わせは下記からお願いたします。
          .c-contact-head__arrow
          .c-contact-head__tel
            a(href="tel:00-0000-0000")
              i.fa.fa-phone(aria-hidden="true")
              | 00-0000-0000
          .c-contact-head__text
            | 各項目入力後、画面下部の【確認画⾯へ】 ボタンをクリックしていただきますと、入力内容を確認していただけます。
            br
            | 内容を確認後、【送信】ボタンを押して下さい。

        .row.u-mbs.is-top.is-lg
          .large-10.is-push-lg-1.small-12
            form(name="name" action="action")
              .c-form
                // 会社名
                .c-form-block
                  .c-form-block__title
                    span 会社名
                    span.c-label.is-required 必須
                  .c-form-block__content
                    input.c-form-block__input.required(name="会社名" type="text", placeholder="会社名をご入力ください")
                // 氏名
                .c-form-block
                  .c-form-block__title
                    span 氏名
                    span.c-label.is-required 必須
                  .c-form-block__content
                    input.c-form-block__input.required(name="氏名" type="text", placeholder="ご氏名をご入力ください")
                // 郵便番号
                .c-form-block
                  .c-form-block__title
                    span 郵便番号
                    span.c-label.is-required 必須
                  .c-form-block__content
                    input.c-form-block__input.required.is-sm(name="郵便番号" type="text", placeholder="郵便番号をご入力ください")
                    button.c-button.is-form#zipauto 住所自動入力
                // ご住所
                .c-form-block
                  .c-form-block__title
                    span ご住所
                    span.c-label.is-required 必須
                  .c-form-block__content
                    input.c-form-block__input.required(name="ご住所" type="text", placeholder="ご住所をご入力ください")
                // 建物名など
                .c-form-block
                  .c-form-block__title
                    span 建物名など
                  .c-form-block__content
                    input.c-form-block__input(name="建物名など" type="text", placeholder="建物名をご入力ください")
                // 電話番号
                .c-form-block
                  .c-form-block__title
                    span 電話番号
                    span.c-label.is-required 必須
                  .c-form-block__content
                    input.c-form-block__input.required(name="電話番号" type="tel", placeholder="お電話番号をご入力ください")
                // E-mail
                .c-form-block
                  .c-form-block__title
                    span E-mail
                    span.c-label.is-required 必須
                  .c-form-block__content
                    input.c-form-block__input.required(name="E-mail" type="text", placeholder="メールアドレスをご入力ください")
                // お問い合わせ内容
                .c-form-block
                  .c-form-block__title
                    span お問い合わせ内容
                    span.c-label.is-required 必須
                  .c-form-block__content
                    textarea.c-form-block__textarea.required(name="お問い合わせ内容", placeholder="お問い合わせ内容をご入力ください")
              .c-form-block__check
                input#privaci-policy(type="checkbox" name="#" value="privaci-policy")
                label.input-label(for="privaci-policy")
                  a(href="/privacy-policy/") 個人情報保護方針
                  | の内容に同意する
              .u-text-center.u-mbs.is-md.is-top
                button.c-button
                  span 確認へ
                  i.fa.fa-angle-right(aria-hidden="true")




