//- メインビジュアル
mixin c_mainvisual
  +c.main-visual
    +bgimg("bg-mainvisual.jpg").c-main-visual__image
    +e.inner
      +e.text.heading.is-xxlg.is-white.
        時計修理技能士が多数在籍。<br>
        確かな信頼と安心を<br class="u-hidden-lg">お届けします。
      +a("/features/").c-main-visual__button.c-button.is-accent テクノタイムサービスの強み

