// ブロック
// -> 2カラム
div.u-mbs.is-bottom
  +c.block
    +e.block
      .row
        .large-5.small-12
          +e.image: +img("img-block-01.jpg")
        .large-7.small-12
          +e.content
            div.c-heading.is-xs.is-color-primary.is-bg-color.is-bottom 見出しレベル4見出しレベル4
            p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ

// -> 1カラム
div.u-mbs.is-bottom
  +c.block
    +e.block
      div.c-heading.is-xs.is-color-primary.is-bg-color.is-bottom 見出しレベル4見出しレベル4
      .row
        .large-7.small-12
          +e.content
            p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ
        .large-5.small-12
          +e.image: +img("img-block-01.jpg")
