// メインビジュアル
//
// markup:
// <div class="c-main-visual">
//
// </div>
//
// Styleguide 2.6.0

.c-main-visual {
  max-width: 100%;
  width: 100%;
  min-height: rem-calc(300);
  background: $color-tertiary;
}
