/**
 * module
 * サイドバー
 */
.l-global-navigation {
  // border-top: 1px solid $color-gray-light;
  // border-bottom: 1px solid $color-gray-light;
  background: $color-white;
  margin-bottom: rem-calc(32);
  margin-top: rem-calc(32);
  ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    > li {
      display: table-cell;
      border-left: 2px solid #e8e8e8;
      &:last-child {
        border-right: 2px solid #e8e8e8;
      }
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $font-base-color;
        padding-top: rem-calc(0);
        padding-bottom: rem-calc(0);
        transition: all ease-in-out .2s;
        font-weight: bold;
        letter-spacing: 2px;
        @include webfont();
        position: relative;
        &:after {
          content: "";
          width: 100%;
          height: 3px;
          background: $font-base-color;
          position: absolute;
          bottom: -14px;
          opacity: 0;
          left: 0;
          transition: all ease .2s;
        }

        &.is-current {
          &:after {
            opacity: 1;
          }
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }

    }
  }

  // 固定の場合
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
  }

}
