// セクション
//
// セクションのスタイル
//
// markup:
// <dev class="l-section [is-lg | is-md | is-sm | is-bottom | is-top]"></dev>
//
// Styleguide 5.3.0
.l-section {
  padding-top: 80px;
  padding-bottom: 80px;
  &.is-xlg {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    @include breakpoint(small only) {
      padding-top: 64px !important;
      padding-bottom: 64px !important;
    }
  }
  &.is-lg {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    @include breakpoint(small only) {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
  }
  &.is-md {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
    @include breakpoint(small only) {
      padding-top: 32px !important;
      padding-bottom: 32px !important;
    }
  }
  &.is-sm {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    @include breakpoint(small only) {
      padding-top: 24px !important;
      padding-bottom: 24px !important;
    }
  }
  &.is-top {
    padding-bottom: 0 !important;
  }
  &.is-bottom {
    padding-top: 0 !important;
  }
}
