//- サイトの設定
-
  current = {
    depth: 1,
    id: "",
    title: "",
    description: "",
    bodyClass: ""
  }
  config = {
    // サイトのルートパスを設定
    // "" でドメイン直下からパスを開始
    root: ".",
    get rootpath(){
      if ( this.root === "" ){
        return this.root;
      }
      // 第一階層の場合
      if ( current.depth === 1 ){
        return this.root
      }
      var i = current.depth
      var path = ""
      while( i > 1 ){
        path += "../"
        i--;
      }
      // 末尾のスラッシュを削除
      return path.replace(/\/$/g,"")
    },

    // サイト情報
    site: {
      title: "サイト名",
      titleSeparator: " | ",
      description: "説明文",
      keywords: "キーワード",
      viewport: "width=device-width,initial-scale=1",
      favicon: "",
      "apple-touch-icon": "",
      ogp: {
        locale: "ja",
        type: "type",
        title: "title",
        description: "description",
        url: "",
        site_name: "",
        image: ""
      },
    },

    // ナビゲーション
    navs: {
      global_nav: [
        {
          url: "/",
          text: "ホーム"
        },{
          url: "/about/",
          text: "私たちについて",
          children: [
            {
              url: "/about/profile/",
              text: "会社概要"
            }
          ]
        },{
          url: "/service/",
          text: "サービス紹介"
        },{
          url: "/works/",
          text: "実績紹介"
        },{
          url: "/works/",
          text: "実績紹介"
        },{
          url: "/contact/",
          text: "お問い合わせ"
        },
      ]
    },

    // ページ情報
    pages: {
      'top': {
        name: "top",
        title: "ホーム",
        description: "",
      },
      'about': {
        name: "about",
        title: "私たちについて",
        description: "",
      },
      'service': {
        name: "service",
        title: "サービス紹介",
        description: "",
      },
      'works': {
        name: "works",
        title: "実績紹介",
        description: "",
      },
      'contact': {
        name: "contact",
        title: "お問合せ",
        description: "",
      },
    },
  }


  // ページごとの情報を取得
  getPagesValue = function(id,key){
    if ( typeof config.pages[id] !== "undefined" && typeof config.pages[id][key] !== "undefined" ){
      return config.pages[id][key];
    }
    // タイトル,説明文等についてはサイトの設定を返す
    if ( typeof config.site[key] !== "undefined" ){
      return config.site[key]
    }
    return "";
  },
  // ナビゲーションを取得
  nav = function(id) {
    if ( typeof config.navs[id] === "undefined" ){
      return false;
    }
    return config.navs[id]
  }


