//- サイトの設定
-
  config = {

    // サイト情報
    site: {
      title: "サイト名",
      description: "説明文",
      keywords: "キーワード",
      viewport: "width=device-width,initial-scale=1",
      favicon: "",
      "apple-touch-icon": "",
      ogp: {
        locale: "ja",
        type: "type",
        title: "title",
        description: "description",
        url: "",
        site_name: "",
        image: ""
      },
    },

    pages: {
      'top': {
        name: "top",
        title: "",
        description: "",
      },
      'about': {
        name: "about",
        title: "私",
        description: "あべのハルカス22階にある婦人科(不妊治療)を専門とするハルカス大阪レディースクリニックの院長から皆様へのご挨拶を紹介します。",
      },
    },

    // グローバルナビゲーション
    globalNav: [
      {
        name: "HOME",
        link: "/",
      },
      {
        name: "ABOUT",
        link: "/about.html",
      },
      {
        name: "SERVICE",
        link: "#",
      },
      {
        name: "WORKS",
        link: "#",
      },
      {
        name: "CONTACT",
        link: "/contact.html",
      },
    ]
  }


