//- サイトの設定
-
  config = {

    // サイト情報
    site: {
      title: "サイト名",
      description: "説明文",
      keywords: "キーワード",
      viewport: "width=device-width,initial-scale=1",
      favicon: "",
      "apple-touch-icon": "",
      ogp: {
        locale: "ja",
        type: "type",
        title: "title",
        description: "description",
        url: "",
        site_name: "",
        image: ""
      },
    },

    // ページ情報
    pages: {
      'top': {
        name: "top",
        title: "ホーム",
        description: "",
      },
      'about': {
        name: "about",
        title: "私たちについて",
        description: "",
      },
      'service': {
        name: "service",
        title: "サービス紹介",
        description: "",
      },
      'works': {
        name: "works",
        title: "実績紹介",
        description: "",
      },
      'contact': {
        name: "contact",
        title: "お問合せ",
        description: "",
      },

    },
  }

  getPagesValue = function(id,key){
    if ( typeof config.pages[id] !== "undefined" && typeof config.pages[id][key] !== "undefined" ){
      return config.pages[id][key];
    }
    // タイトル,説明文等についてはサイトの設定を返す
    if ( typeof config.site[key] !== "undefined" ){
      return config.site[key]
    }
    return "";
  }


