//- サイトの設定
-
  config = {

    // サイト情報
    site: {
      title: "サイト名",
      description: "説明文",
      keywords: "キーワード",
    },

    // グローバルナビゲーション
    globalNav: [
      {
        name: "HOME",
        link: "/",
      },
      {
        name: "ABOUT",
        link: "/about.html",
      },
      {
        name: "SERVICE",
        link: "#",
      },
      {
        name: "WORKS",
        link: "#",
      },
      {
        name: "CONTACT",
        link: "/contact.html",
      },
    ]
  }


