// 投稿一覧 : 一行
//
// markup:
// <div class="p-post-list">
//     <div class="p-post-item is-line">
//         <div class="p-post-item__thumbnail">
//             <img src="https://placehold.jp/300x200.png">
//         </div>
//         <div class="p-post-item__date c-label is-tertiary"><a href="#">2016.01.11</a></div>
//         <div class="p-post-item__category c-label"><a href="#">カテゴリ名</a></div>
//         <h2 class="p-post-item__title"><a href="#">投稿タイトル</a></h2>
//     </div>
//     <div class="p-post-item is-line">
//         <div class="p-post-item__thumbnail">
//             <img src="https://placehold.jp/300x200.png">
//         </div>
//         <div class="p-post-item__date c-label is-tertiary"><a href="#">2016.01.11</a></div>
//         <div class="p-post-item__category c-label"><a href="#">カテゴリ名</a></div>
//         <h2 class="p-post-item__title"><a href="#">投稿タイトル</a></h2>
//     </div>
//     <div class="p-post-item is-line">
//         <div class="p-post-item__thumbnail">
//             <img src="https://placehold.jp/300x200.png">
//         </div>
//         <div class="p-post-item__date c-label is-tertiary"><a href="#">2016.01.11</a></div>
//         <div class="p-post-item__category c-label"><a href="#">カテゴリ名</a></div>
//         <h2 class="p-post-item__title"><a href="#">投稿タイトル</a></h2>
//     </div>
// </div>
//
// Styleguide 3.2.2
// 1行スタイル
.p-post-item.is-line {
  @extend %clearfix;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  text-decoration: none;
  align-items: flex-start;
  @include breakpoint(small only) {
    flex-wrap: wrap;
  }
  // カテゴリ、日付
  .p-post-item__date,
  .p-post-item__category {
    margin-right: $margin-md;
    color: $font-base-color;
  }

  .p-post-item__sup {
    display: flex;
    align-items: center;
  }

  .p-post-item__date {
    color: $color-primary;
    font-weight: bold;
    letter-spacing: 0.07em;
  }

  // タイトル
  .p-post-item__title {
    color: $color-primary;
    margin-right: $margin-md;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: rem-calc(16);
    margin-top: 0;
    font-weight: normal;
    @include breakpoint(small only) {
      font-size: rem-calc(14);
      margin-top: 16px;
      margin-right: 0;
    }
  }
}
