extends /inc/foundation/_base.pug
block append config
  - current.id = "recruit" // ページのID
  - current.title = "採用情報" // タイトル
  - current.description = "これは採用情報の説明文です" // 説明文
  - current.bodyClass = "recruit" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("bg-pageheader-" + current.id + ".jpg",current.title)
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span= current.title

block body
  section.l-main
    +front_recruit()
  +c_offer()
