blockquote {
  background-color: $color-white;
  border-top: 1px solid $border-base-color;
  border-right: 1px solid $border-base-color;
  border-bottom: 1px solid $border-base-color;
  border-left: 3px solid $color-primary;
  position: relative;
  padding: 24px 24px 24px 48px;
  font-size: 0.8em;
  margin: 16px 0;
  @include breakpoint(small only) {
    padding: 12px 12px 12px 34px;
  }
  &:before {
    content: "\f10d";
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    color: $color-primary;
    position: absolute;
    left: 12px;
    top: 8px;
    @include breakpoint(small only) {
      font-size: 16px;
      top: 2px;
      left: 8px;
    }
  }
}
