.c-accordion-list {
  &__block {
    margin-bottom: rem-calc(20);
  }
  &__head {
    font-size: rem-calc(20);
    font-weight: 700;
    letter-spacing: 0.1em;
    border-bottom: 2px solid rgba($font-base-color,0.5);
    padding-bottom: rem-calc(12);
  }
  &__content {
    display: none;
    ul {
      li {
        padding: rem-calc(24) rem-calc(8);
        border-bottom: 1px solid $border-base-color;
        a {
          font-weight: 400;

        }
      }
    }
  }
}
