// ボタン
//
// ボタンのスタイル
//
// markup:
// <p><a href="#" class="c-button">通常ボタン</a><p>
// <p><a href="#" class="c-button is-lg">大ボタン</a><p>
// <p><a href="#" class="c-button is-sm">小ボタン</a><p>
// <p><a href="#" class="c-button is-xs">極小ボタン</a><p>
// <p><a href="#" class="c-button is-secondary">セカンダリーボタン</a><p>
// <p><a href="#" class="c-button is-tertiary">ターシャリボタン</a><p>
// <p><a href="#" class="c-button is-danger">危険ボタン</a><p>
// <p><a href="#" class="c-button is-warning">警告ボタン</a><p>
// <p><a href="#" class="c-button is-success">成功ボタン</a><p>
// <p><a href="#" class="c-button is-info">情報ボタン</a><p>
// <p><a href="#" class="c-button is-round">丸角ボタン</a><p>
// <p><a href="#" class="c-button is-lg is-success is-round">丸角ボタン</a><p>
// <p><a href="#" class="c-button is-lg is-expand">最大幅</a><p>
//
// Styleguide 2.11.0
.c-button {
  outline: none;
  display: inline-block;
  width: 100%;
  max-width: rem-calc(203);
  text-align: center;
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
  text-decoration: none;
  border-radius: 4px;
  padding: 13px 24px;
  position: relative;
  transition: all .3s;
  font-weight: 700;
  // *アイコン
  &:after {
    content: "\f105";
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-weight: 400;
  }
  // *hover
  &:hover {
    opacity: 1;
    background-color: $color-white;
    color: $color-primary;
  }

  // カラー設定
  // -> セカンダリカラー
  &.is-secondary {
    background-color: lighten($color-primary, 40);
    color: $color-primary;
    border-color: lighten($color-primary, 40);
    &:hover {
      background-color: $color-white;
      border-color: $color-primary;
    }
  }
  // -> アクセントカラー
  &.is-accent {
    background-color: $color-accent;
    border-color: $color-accent;
    &:hover {
      background-color: $color-white;
      color: $color-accent;
    }
  }
  // -> ホワイトカラー
  &.is-white {
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  // サイズ設定
  // -> 大
  &.is-xlg {
    max-width: rem-calc(392);
    padding: 26px 32px;
    font-size: 18px;
    &:after {
      font-size: 24px;
    }
  }
  // -> 中
  &.is-lg {
    max-width: rem-calc(356);
    padding: 16px 24px;
  }
  // -> 小
  &.is-sm {
    max-width: rem-calc(155);
    padding: 10px 18px;
    font-size: 14px;
    letter-spacing: 0.1em;
    &:after {
      right: 10px;
    }
  }
  // -> 極小
  &.is-xs {
    width: inherit;
    max-width: 100%;
    background-color: transparent;
    padding: 0 16px 0 0;
    border: none!important;
    color: $font-base-color;
    font-size: 14px;
    letter-spacing: 0.1em;
    &:after {
      color: $color-primary;
      right: 0;
    }
    // *hover
    &:hover {
      opacity: 0.6;
    }
  }

  // デザイン設定
  // ->矢印左
  &.is-arrow-left {
    &:after {
      content: "\f104";
      right: auto;
      left: rem-calc(12);
    }
  }
  // -> ラインライト
  &.is-line-right {
    background-color: $color-white;
    border: 1px solid $font-base-color;
    color: $font-base-color;
    border-radius: 0;
    &:after {
      content: "";
      width: 32px;
      height: 1px;
      background-color: $font-base-color;
      position: absolute;
    }
    // *hover
    &:hover {
      opacity: 1;
      &:after {
        transform: translate(16px,-50%);
      }
    }
    // *極小
    &.is-xs {
      padding-right: 78px;
      &:after {
        width: 64px;
      }
    }
  }

  // -> 矢印
  &.is-arrow-right {
    border-radius: 0;
    &:after {
      content: "";
      width: 36px;
      height: 1px;
      background-color: $color-white;
      top: calc(50% + 6px);
    }
    &:before {
      content: "";
      display: block;
      width: 12px;
      height: 1px;
      background-color: $color-white;
      position: absolute;
      right:  16px;
      top: calc(50% + 3px);
      transform: translate(1px, -50%) rotate(40deg);
      transition: all .3s;
    }
    // *hover
    &:hover {
      opacity: 1;
      &:after,
      &:before {
        right: 8px;
        background-color: $color-primary;
      }
    }
    // *極小
    &.is-xs {
      padding-right: 58px;
      &:after {
        width: 48px;
        background-color: $font-base-color;
      }
      &:before {
        background-color: $font-base-color;
        right: 0;
      }
      // *hover
      &:hover {
        &:after,
        &:before {
          right: -8px;
        }
      }
    }
  }
  // -> アイコン
  &.is-icon-right {
    border-radius: 0;
    &:after {
      border: 2px solid $color-white;
      width: 24px;
      height: 24px;
      border-radius: 1000px;
      font-size: 13px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding-left: 3px;
      padding-bottom: 1px;
    }
    // *hover
    &:hover {
      &:after {
        border-color: $color-primary;
      }
    }
    // *極小
    &.is-xs {
      color: $color-primary;
      padding-right: 32px;
      &:after {
        border-color: $color-primary;
        right: 0;
      }
    }
  }
}
