// ボタン
//
// ボタンのスタイル
//
// markup:
// <p><a href="#" class="c-button">通常ボタン</a><p>
// <p><a href="#" class="c-button is-lg">大ボタン</a><p>
// <p><a href="#" class="c-button is-sm">小ボタン</a><p>
// <p><a href="#" class="c-button is-xs">極小ボタン</a><p>
// <p><a href="#" class="c-button is-secondary">セカンダリーボタン</a><p>
// <p><a href="#" class="c-button is-tertiary">ターシャリボタン</a><p>
// <p><a href="#" class="c-button is-danger">危険ボタン</a><p>
// <p><a href="#" class="c-button is-warning">警告ボタン</a><p>
// <p><a href="#" class="c-button is-success">成功ボタン</a><p>
// <p><a href="#" class="c-button is-info">情報ボタン</a><p>
// <p><a href="#" class="c-button is-round">丸角ボタン</a><p>
// <p><a href="#" class="c-button is-lg is-success is-round">丸角ボタン</a><p>
//
// Styleguide 2.11.0

$c-button-md-font-size: rem-calc(16) !default;
$c-button-sm-font-size: rem-calc(13) !default;
$c-button-lg-font-size: rem-calc(16) !default;
$c-button-radius: 0px !default;

.c-button {
  display: inline-block;
  padding-left: rem-calc($margin-md);
  padding-right: rem-calc($margin-md);
  padding-top: rem-calc($margin-base);
  padding-bottom: rem-calc($margin-base);
  border-radius: $c-button-radius;
  background: $color-primary;
  color: $color-white;
  text-decoration: none;
  border: none;
  font-size: rem-calc($font-base-size);

  position: relative;
  &__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -12px;
    font-size: rem-calc(24);
  }

  &:hover {
    opacity: 0.8;
    color: $color-white;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    outline: none;
    color: #fff;
  }

  &.is-lg {
    font-size: rem-calc($c-button-lg-font-size);
    padding: rem-calc($margin-md) rem-calc(64px);
  }

  &.is-sm {
    font-size: rem-calc($c-button-sm-font-size);
    padding: rem-calc($margin-sm) rem-calc($margin-md);
  }

  &.is-xs {
    font-size: rem-calc($c-button-lg-font-size*0.8);
    padding: rem-calc($margin-sm*0.5) rem-calc($margin-md*0.8);
  }

  &.is-secondary {
    background: $color-secondary;
  }

  &.is-tertiary {
    background: $color-tertiary;
  }

  &.is-danger {
    background: $color-state-danger;
  }

  &.is-warning {
    background: $color-state-warning;
  }

  &.is-info {
    background: $color-state-info;
  }

  &.is-success {
    background: $color-state-success;
  }

  &.is-round {
    border-radius: 1000px;
  }

  &.is-outline {
    background: transparent;
    border: 3px solid $font-base-color;
    color: $font-base-color;
    font-weight: bold;
  }

}



