// ボタン
//
// ボタンのスタイル
//
// markup:
// <p><a href="#" class="c-button">通常ボタン</a><p>
// <p><a href="#" class="c-button is-lg">大ボタン</a><p>
// <p><a href="#" class="c-button is-sm">小ボタン</a><p>
// <p><a href="#" class="c-button is-xs">極小ボタン</a><p>
// <p><a href="#" class="c-button is-secondary">セカンダリーボタン</a><p>
// <p><a href="#" class="c-button is-tertiary">ターシャリボタン</a><p>
// <p><a href="#" class="c-button is-danger">危険ボタン</a><p>
// <p><a href="#" class="c-button is-warning">警告ボタン</a><p>
// <p><a href="#" class="c-button is-success">成功ボタン</a><p>
// <p><a href="#" class="c-button is-info">情報ボタン</a><p>
// <p><a href="#" class="c-button is-round">丸角ボタン</a><p>
// <p><a href="#" class="c-button is-lg is-success is-round">丸角ボタン</a><p>
//
// Styleguide 2.11.0


.c-button {
  display: inline-block;
  padding-left: rem-calc($margin-md);
  padding-right: rem-calc($margin-md);
  padding-top: rem-calc($margin-base);
  padding-bottom: rem-calc($margin-base);
  border-radius: $border-radius;
  background: $color-primary;
  color: $color-white;
  text-decoration: none;
  border: none;
  font-size: rem-calc($font-base-size);

  &:hover {
    opacity: 0.8;
    color: $color-white;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0px 2px 2px rgba(0,0,0,.3);
    outline: none;
    color: #fff;
  }

  &.is-lg {
    font-size: rem-calc($font-large-size);
    padding: rem-calc($margin-md) rem-calc($margin-lg);
  }

  &.is-sm {
    font-size: rem-calc($font-small-size);
    padding: rem-calc($margin-sm) rem-calc($margin-md);
  }

  &.is-xs {
    font-size: rem-calc($font-small-size*0.8);
    padding: rem-calc($margin-sm*0.5) rem-calc($margin-md*0.8);
  }

  &.is-secondary {
    background: $color-secondary;
  }

  &.is-tertiary {
    background: $color-tertiary;
  }

  &.is-danger {
    background: $color-state-danger;
  }

  &.is-warning {
    background: $color-state-warning;
  }

  &.is-info {
    background: $color-state-info;
  }

  &.is-success {
    background: $color-state-success;
  }

  &.is-round {
    border-radius: 1000px;
  }

}



