// カプセルナビ
//
// markup:
// <div class="c-capsule-nav">
//    <ul>
//         <li><a href="#" class="c-button is-outline is-expand">カプセルナビ1</a><li>
//         <li><a href="#" class="c-button is-outline is-expand">カプセルナビ2</a><li>
//         <li><a href="#" class="c-button is-outline is-expand">カプセルナビ3</a><li>
//         <li><a href="#" class="c-button is-outline is-expand">カプセルナビ4</a><li>
//    </ul>
// </div>
//
// Styleguide 2.24.0

.c-capsule-nav {
  background: rgba(#A8ADBB, 0.1);
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 40px;
  @include breakpoint(small only) {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 32px;
    @include breakpoint(small only) {
      margin-bottom: 12px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    //margin-bottom: 64px;
    @media (max-width: 900px) {
      justify-content: flex-start;
    }
    @include breakpoint(small only) {
      justify-content: left;
    }

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 900px) {
        width: calc(50% - 8px);
        margin-right: 16px;
        margin-bottom: 16px;

      }
      @include breakpoint(small only) {
        width: auto;
        margin-right: 12px;
        margin-bottom: 10px;
      }

      a {
        padding-left: 24px;
        padding-right: 24px;
        @include breakpoint(small only) {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  }
}
