.c-card {
  &__block {
    width: 100%;
    display:  block;
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    margin-bottom: rem-calc(48);
    span,
    small {
      display: block;
    }
  }
  &__image {
    transition: all .2s;
  }
  &__content {
    margin-top: rem-calc(12);
  }
  &__title {
    font-weight: 700;
    font-size: rem-calc(20);
    letter-spacing: 0.1em;
  }
  &__text {
    margin-top: rem-calc(12);
    font-size: rem-calc(14);
  }
  // ナンバー入りカード
  &.is-number-left {
    position: relative;
    padding-top: rem-calc(52);
    .c-card__number {
      text-align: center;
      color: $color-primary;
      @include webfont-bold();
      line-height: 1;
      position: absolute;
      top: 0;
      left: 8px;
      small {
        @include webfont-bold();
        font-size: rem-calc(18);
        letter-spacing: 0.1em;
      }
      span {
        font-size: rem-calc(60);
        letter-spacing: 0;
      }
    }
    .c-card__text {
      font-size: $font-base-size;
    }
  }
  // リンクカード
  &.is-link {
    //*hover
    .c-card__block {
      &:hover {
        opacity: 1;
        .c-card__image {
          opacity: 0.7;
        }
      }
    }
    //*アイコン
    .c-card__title {
      position: relative;
      padding-left: rem-calc(20);
      &:before {
        content: "\f105";
        font-family: "FontAwesome";
        color: $color-primary;
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
