// カード
//
// カード型のブロックモジュール
//
// markup:
// <div class="l-container">
//     <div class="large-4">
//         <a href="#" class="c-card">
//             <img src="https://unsplash.it/300/200/?random" class="c-card__image">
//             <p class="c-card__text">
//                 カードテキスト
//             </p>
//         </a>
//     </div>
//     <div class="large-4">
//         <a href="#" class="c-card">
//             <img src="https://unsplash.it/300/200/?random" class="c-card__image">
//             <p class="c-card__text">
//                 カードテキスト
//             </p>
//         </a>
//     </div>
//     <div class="large-4">
//         <a href="#" class="c-card">
//             <img src="https://unsplash.it/300/200/?random" class="c-card__image">
//             <p class="c-card__text">
//                 カードテキスト
//             </p>
//         </a>
//     </div>
// </div>
//
// Styleguide 2.17.0

.c-card {
  position: relative;
  display: block;
  text-align: center;
  padding-top: rem-calc(130);
  text-decoration: none;
  &__image {
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__text {
    position: relative;
    z-index: 1;
    color: $color-white;
  }
}
