.c-footer-menu {
  background-color: #fff;
  @include breakpoint(small only) {
    padding: 0;
    background-color: transparent;
    background: $color-primary;
    width: 100%;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include breakpoint(small only) {
      display: block;
    }
  }

  &__block {
    padding-right: 4vw;
    @media (max-width: 900px) {
      padding-right: 24px;
      &:last-child {
        padding-right: 0;
      }
    }
    @include breakpoint(small only) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;

    &:before {
      content: "\f0da";
      font-family: FontAwesome;
      color: $color-primary;
      margin-right: 8px;
    }

    @include breakpoint(small only) {
      border-bottom: 1px solid $border-base-color;
      padding: 12px 24px;
      margin: 0;
      background-color: $color-primary;
      width: 100%;
      color: #fff;
      display: block;
      position: relative;
      padding-left: 18px;
      &:before {
        display: none;

      }
      &:after {
        position: absolute;
        right: 16px;
        content: "\f107";
        font-family: "FontAwesome";
        color: #fff;
        padding-right: 12px;
      }
      &.is-open {
        &:before {
          content: "\f106";
        }
      }
    }
  }

  &__list {
    li {
      margin-bottom: 24px;
      @include breakpoint(small only) {
        margin: 0 !important;
        border-bottom: 1px solid $border-base-color;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        color: $font-base-color;

        &:before {
          content: "\f0da";
          font-family: FontAwesome;
          color: $color-primary;
          margin-right: 8px;
        }

        @include breakpoint(small only) {
          padding: 16px 18px;
          display: block;
          background-color: $color-primary;
          color: $color-white;
          &:hover {
            opacity: 1;
          }
          &:before {
            display: none;
          }
        }
      }
    }

    &.is-sub {
      margin-bottom: 24px;
      @include breakpoint(small only) {
        display: none;
      }

      li {
        margin-bottom: 0px;
        margin-left: 14px;
        @include breakpoint(small only) {
          border: none;
        }

        a {
          font-weight: 400;
          font-size: rem-calc(14);
          //color: rgba($color-white, 0.8);
          @include breakpoint(small only) {
            background-color: rgba($font-base-color, 0.8);
            padding: 10px 44px;
          }

          &:before {
            display: none;
          }
        }
      }
    }
  }
}
