// お問い合わせフォーム
//
// お問合せフォームの標準スタイル
//
// markup:
// <form class="c-form">
//     <div class="c-form-block">
//         <label for="name">お名前</label>
//         <span class="c-label is-danger is-reduired">必須</span>
//         <input type="text" value="" placeholder="お名前をご記入ください" name="name">
//     </div>
//     <div class="c-form-block">
//         <label for="furigana">フリガナ</label>
//         <input type="text" value="" placeholder="フリガナをカタカナでご記入ください" name="furigana">
//     </div>
//     <div class="c-form-block">
//         <div class="c-form-block__title">
//             <label for="furigana">フリガナ</label>
//             <span class="c-label is-danger is-reduired">必須</span>
//         </div>
//         <div class="c-form-block__box">
//             <input type="text" value="" placeholder="フリガナをカタカナでご記入ください" name="furigana">
//             <p>※ フリガナをカタカナでご記入ください。</p>
//         </div>
//     </div>
//     <div class="c-form-block">
//         <label class="p-contact-form__title">お問い合せの種別</label>
//         <div class="c-form-block__radio">
//             <label for="radio"><input id="radio" type="radio" value="1"> ラジオボックス</label>
//             <label for="radio"><input id="radio" type="radio" value="1"> ラジオボックス</label>
//             <label for="radio"><input id="radio" type="radio" value="1"> ラジオボックス</label>
//             <label for="radio"><input id="radio" type="radio" value="1"> ラジオボックス</label>
//         </div>
//     </div>
//     <div class="c-form-block">
//         <label for="furigana">お問い合せ内容</label>
//         <textarea row="50" placeholder="お問い合せ内容をご記入ください。" name="message"></textarea>
//     </div>
//     <div class="c-form-block text-center">
//         <button class="c-button is-lg">この内容で送信する</button>
//     </div>
// </form>
//
// Styleguide 3.4.0

.c-form {
  margin: 0 auto;
  @include breakpoint(small only) {
    width: 100%;
    border-bottom: none;
  }
}

.c-form-block {
  padding-top: rem-calc(24);
  padding-bottom: rem-calc(24);
  position: relative;
  overflow: hidden;
  @extend %clearfix;
  border-bottom: 1px solid $border-base-color;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  @include breakpoint(small only) {
    border-bottom: 1px dotted #CCC;
    padding-top: rem-calc(14);
    padding-bottom: rem-calc(16);
    font-size: rem-calc(14);
  }

  // 入力項目のラベル
  &__title {
    float: left;
    width: rem-calc(226);
    position: relative;
    padding-top: rem-calc(12);
    @include breakpoint(small only) {
      width: 100%;
      float: none;
      padding-bottom: rem-calc(4);
      padding-top: 0;
    }
    .c-label {
      float: right;
      margin-top: 1px;
      @include breakpoint(small only) {
        margin-left: 0;
      }
    }
  }

  // 入力項目
  &__content {
    margin-left: rem-calc(276);
    position: relative;
    @include breakpoint(small only) {
      margin-left: 0;
    }

    textarea {
      min-height: 200px;
    }

    // ラベル
    label {
      margin-bottom: 5px;
      font-weight: bold;
      display: inline-block;
    }

    p {
      margin-top: 8px;
      font-size: 0.9em;
    }
    @include breakpoint(small only) {
      width: 100%;
      float: none;
    }
  }

  // ラジオボタンを囲むdiv
  &__radio {
    padding-top: rem-calc(9);
    @include breakpoint(small only) {
      span {
        display: block;
      }
    }
    label {
      display: inline-block;
      margin-right: 24px;
      margin-left: 5px;
      font-weight: normal;
      @include breakpoint(small only) {
        margin-right: rem-calc(0);
      }
    }

  }

  &__text {
    margin-right: rem-calc(12);
    @include breakpoint(small only) {
      position: absolute;
      top: 12px;
      left: 0;
    }
  }

  &__check {
    input[type=checkbox] {
      display: none;
    }
    .input-label {
      position: relative;
      padding: 0 0 0 29px;
    }
    .input-label:hover:after {
      border-color: #0171bd;
    }
    .input-label:after, .input-label:before {
      position: absolute;
      content: "";
      display: block;
      top: 50%;
    }
    .input-label:after {
      left: 0px;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      background-color: rgba($font-base-color, 0.1);
    }
    .input-label:before {
      left: 5px;
      margin-top: -8px;
      width: 5px;
      height: 9px;
      border-right: 3px solid $color-primary;
      border-bottom: 3px solid $color-primary;
      transform: rotate(45deg);
      opacity: 0;
    }
    input[type=checkbox]:checked + .input-label:before {
      opacity: 1;
    }
  }

  // 郵便番号入力欄
  &__input.is-xs {
    width: rem-calc(200);
    margin-right: rem-calc(12);
    @include breakpoint(small only) {
      width: 50%;
      margin-right: 1%;
    }
  }
  &__input.is-sm {
    width: rem-calc(436);
    margin-right: rem-calc(12);
    @include breakpoint(small only) {
      width: 50%;
      margin-right: 1%;
    }
  }
}
