// リード
//
// コンテンツのリード文章
//
// markup:
// <p class="c-lead">
//   これはリード文章です。
// </p>
//
// Styleguide 2.23.0

.c-lead {
  font-size: rem-calc(18);
  font-weight: bold;
  letter-spacing: 0.9px;
  @include breakpoint(small only) {
    font-size: rem-calc(14);
    text-align: center;
  }
}
