// 投稿詳細ナビゲーション
//
// 投稿詳細ページの記事ナビゲーション
//
// markup:
// <nav class="c-post-navs">
//     <ul>
//         <li class="c-post-navs__prev"><a href="#">前の記事へ</a></li>
//         <li class="c-post-navs__next"><a href="#">次の記事へ</a></li>
//     </ul>
// </nav>
//
// Styleguide 2.16.0
.c-post-navs {
  margin-top: rem-calc(64);
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      a {
        width: rem-calc(155);
      }
    }
  }
  &__prev {

  }
  &__archive {
    display: inline-flex;
    align-items: center;
    &:after {
      display: none;
    }
    i {
      margin-right: rem-calc(12);
      font-size: rem-calc(18);
      margin-top: rem-calc(2);
    }
  }
  &__next {
    margin-left: auto;
  }
}
