// タブ
//
//
// markup:
// <div class="c-tabs">
//     <ul class="c-tabs__navs">
//         <li><a href="#" class="is-active">リスト1</a></li>
//         <li><a href="#">リスト2</a></li>
//         <li><a href="#">リスト3</a></li>
//         <li><a href="#">リスト4</a></li>
//     </ul>
//     <div class="c-tabs__content">
//         <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
//     </div>
// </div>
//
// Styleguide 2.19.0

.c-tabs {
  // タブ
  &__navs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
    @include breakpoint(small only) {
      margin-bottom: 32px;
    }
    li {
      width: 50%;
      max-width: 276px;
      margin-bottom: 8px;
      border: 2px solid $color-primary;
      a {
        background-color: $color-white;
        color: $color-primary;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: 10px 24px;
        position: relative;
        transition: all .3s;
        @include breakpoint(small only) {
          padding: 6px;
        }
        &:after {
          content: "\f107";
          font-family: "FontAwesome";
          position: absolute;
          font-size: 24px;
          font-weight: 400;
          right: 16px;
          top: calc(50% + 1px);
          transform: translateY(-50%);
          transition: all .3s;
        }
        // *hover
        &:hover {
          background-color: lighten($color-primary, 45);
          opacity: 1;
        }
        // *選択時
        &.is-active {
          background-color: $color-primary;
          color: $color-white;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  // コンテンツ
  &__content {
    display: none;
    &.is-active {
      display: block;
    }
  }
  // インデックスタブ
  &.is-index {
    .c-tabs {
      &__navs {
        li {
          width: inherit;
          min-width: 160px;
          border-width: 1px;
          border-bottom: none;
          margin: 0 8px 0 0;
          a {
            font-size: 14px;
            letter-spacing: 0.1em;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
