// タブ
//
//
// markup:
// <div class="c-tabs">
//     <ul class="c-tabs__navs">
//         <li><a href="#" class="is-active">リスト1</a></li>
//         <li><a href="#">リスト2</a></li>
//         <li><a href="#">リスト3</a></li>
//         <li><a href="#">リスト4</a></li>
//     </ul>
//     <div class="c-tabs__content">
//         <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
//     </div>
// </div>
//
// Styleguide 2.19.0

.c-tabs__navs {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;

  > li {
    display: inline-block;
  }
  > li > a {
    display: inline-block;
    padding: rem-calc($margin-base) rem-calc($margin-md);
    background: $color-tertiary;
    text-decoration: none;
    border-radius: $border-radius $border-radius 0 0;

    &:hover,
    &.is-active {
      background: $color-primary;
      color: $color-white;
    }
  }

  // 拡張
  &.is-expand {
    > li > a {
      padding: rem-calc($margin-base) rem-calc($margin-lg);
    }
  }
}

// タブコンテンツ
.c-tabs__content {
  border: 1px solid $color-tertiary;
  padding: $margin-base;
  p {
    margin-top: 0;
  }

}
