extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "profile" // ページのID
  - current.title = "会社概要" // タイトル
  - current.description = "このページは会社概要についてのページです" // 説明文
  - current.bodyClass = "profile" // body に付与するクラス
  - current.depth = 3 // ページの階層

block page_header
  // ページヘッダー
  +c_page_header(current.title)
  +c.breadcrumb
    .l-container
      span: +a("/") HOME
      span >
      span profile

block body
  .l-section
    h2.heading.is-xlg 見出し大
    .p-landing-block
      .p-landing-block__thumbnail(style="background-image: url(/assets/images/example01.jpg)")
      .p-landing-block__content
        .p-landing-block__content__inner
          h3.heading.is-lg タイトル1タイトル1タイトル1
          p
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
    .p-landing-block
      .p-landing-block__content
        .p-landing-block__content__inner
          h3.heading.is-lg タイトル1タイトル1タイトル1
          p
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
      .p-landing-block__thumbnail(style="background-image: url(/assets/images/example02.jpg)")

    .p-landing-block
      .p-landing-block__thumbnail(style="background-image: url(/assets/images/example03.jpg)")
      .p-landing-block__content
        .p-landing-block__content__inner
          h3.heading.is-lg タイトル1タイトル1タイトル1
          p
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト
            | テキストテキストテキストテキストテキストテキストテキスト

    +c_offer()

block aside
  p テスト
