extends /inc/foundation/_base.pug
block append config
  - current.id = "about" // ページのID
  - current.title = "私たちについて" // タイトル
  - current.description = "これは私たちについての説明文です" // 説明文
  - current.bodyClass = "about" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  // ページヘッダー
  +c_page_header(false,current.title)

block body
  section.l-main
    .l-section
      h2.heading.is-xlg 見出し大
      .p-landing-block
        .p-landing-block__thumbnail(style="background-image: url(/assets/images/example01.jpg)")
        .p-landing-block__content
          .p-landing-block__content__inner
            h3.heading.is-lg タイトル1タイトル1タイトル1
            p
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
      .p-landing-block
        .p-landing-block__content
          .p-landing-block__content__inner
            h3.heading.is-lg タイトル1タイトル1タイトル1
            p
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
        .p-landing-block__thumbnail(style="background-image: url(/assets/images/example02.jpg)")

      .p-landing-block
        .p-landing-block__thumbnail(style="background-image: url(/assets/images/example03.jpg)")
        .p-landing-block__content
          .p-landing-block__content__inner
            h3.heading.is-lg タイトル1タイトル1タイトル1
            p
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト
              | テキストテキストテキストテキストテキストテキストテキスト

      +c_offer()
