//- filename: index.jade
//- description: サイトのトップページ

extends inc/foundation/_base

block title

    title #{pages.home.title}

block meta
    meta(name='description', content=pages.home.description)
    meta(name='keywords', content=pages.home.keywords)
    meta(name="viewport", content=general.viewport)

block prepend head_script

    //- body タグのクラスを設定
    - var bodyClass = "home";

block body

    main

        // メインビジュアル
        .c-page-header
            h1 ABOUT
            p 私たちについてご紹介します。

        section.l-main

            .l-section

                h2.heading.is-xlg はじまりはいつもここから
                .p-landing-block
                    .p-landing-block__thumbnail(style="background-image: url(/assets/images/example01.jpg)")
                    .p-landing-block__content
                        .p-landing-block__content__inner
                            h3.heading.is-lg タイトル1タイトル1タイトル1
                            p
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                .p-landing-block
                    .p-landing-block__content
                        .p-landing-block__content__inner
                            h3.heading.is-lg タイトル1タイトル1タイトル1
                            p
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                    .p-landing-block__thumbnail(style="background-image: url(/assets/images/example02.jpg)")

                .p-landing-block
                    .p-landing-block__thumbnail(style="background-image: url(/assets/images/example03.jpg)")
                    .p-landing-block__content
                        .p-landing-block__content__inner
                            h3.heading.is-lg タイトル1タイトル1タイトル1
                            p
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト
                                | テキストテキストテキストテキストテキストテキストテキスト


                include /inc/object/components/_offer

        section.l-sidebar


