//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "トップページ" // タイトル
  - current.description = "これはトップページの説明文です" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 1 // ページの階層

block body
  +c_mainvisual()
  section.l-main
    +c.opening
      .l-container
        h2.c-opening__title テクノタイムサービスは、<br class="u-hidden-lg"><strong>時計修理の専業企業</strong>です。
        p.c-opening__text.
          最高峰の時計技術をもったWOSTEP認定者を含め国家資格である時計修理技能士が50名以上在籍。<br class="u-hidden-sm">
          テクノタイムサービスは、総勢120名を専門チームに分けて、各々プロフェッショナル部門として、<br class="u-hidden-sm">
          お客様のお役に立てるように日々努力しています。
        p.c-opening__small.
          ※ WOSTEPとは、100を超えるスイスの時計メーカー等により設立された時計技術者の養成校です。<br>
          WOSTEP最終試験は現在最高峰の時計技術試験です。

    +c.products
      +e.block
        +e.title(style="background-image: url(/assets/images/bg-product01.jpg)")
          +e.title__heading 時計修理
          +e.title__text.
            BtoBの時計修理専業のため、<br class="u-hidden-lg">専門技術にも対応可能です。<br>
            修理でお困りの際はまずご相談ください。
        +e.content
          +e.content__title 修理事例のご紹介
          +e.content__cases
            +loop(2)
              +c.A.products-case(href="/cases/01/")
                +e.image(style="background-image: url(/assets/images/img-default-image@2x.jpg)")
                +e.content
                  +e.title タイトルタイトルタイトルタイトル
                  +e.meta 東京都 / Y.M 様
                  +e.text.
                    テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
          +e("div","products").button
            +a("/cases/").c-button.is-xlg.is-opacity 修理事例をすべて見る

      +e("div","products").block
        +e.title(style="background-image: url(/assets/images/bg-product02.jpg)")
          +e.title__heading 部品販売
          +e.title__text.
            時計修理の専業企業のテクノサービスだからこそ紹介できる、<br class="u-hidden-sm">
            信頼できる時計修理関連の商品を掲載しています。
        +e.content(style="background-image: url(/assets/images/bg-product0202.jpg)")
          +e.content__title 商品のご案内
          +e.content__banners
            +c.A.products-banner(href="/products/01/")
              +e.text 電池
            +c.A.products-banner(href="/products/01/")
              +e.text 時計部品
            +c.A.products-banner(href="/products/01/")
              +e.text 工具
            +c.A.products-banner(href="/products/01/")
              +e.text セミナー教育
          +e("div","products").button
            +a("/products/").c-button.is-xlg.is-opacity 取扱商品をすべて見る

    +front_recruit()
    +c.front-news
      .l-container
        .row
          .large-3.small-12
            +c.news-head
              +e.H2.title お知らせ
              +e.button
                +a("/news/").c-button.is-sm.is-icon
                  span 一覧を見る
                  i.fa.fa-chevron-circle-right
          .large-9.small-12
            .p-post-list
              +loop(3)
                a.p-post-item.is-line(href='/news/single/')
                  .p-post-item__sup
                    .p-post-item__category: span.c-label カテゴリ
                    .p-post-item__date 2018.01.01
                  h3.p-post-item__title テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります


  // オファーブロック
  +c_offer()
