extends /inc/foundation/_base.pug
block append config
  - current.id = "format" // ページのID
  - current.title = "フォーマット" // タイトル
  - current.description = "これはフォーマットページの説明文です" // 説明文
  - current.bodyClass = "format" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  // メインビジュアル
  +c_page_header("example01.jpg",text)

  .l-section
    .l-container
      h1 h1 見出し1
      h2 h2 見出し2
      h3 h3 見出し3
      h4 h4 見出し4
      h5 h5 見出し5
      h6 h6 見出し6

