//- メインビジュアル
mixin c_mainvisual
  .c-mainvisual.owl-carousel.owl-theme
    .c-mainvisual__item: +img("example01.jpg","サンプル1")
    .c-mainvisual__item: +img("example02.jpg","サンプル2")
    .c-mainvisual__item: +img("example03.jpg","サンプル3")
