extends /inc/foundation/_base.pug
block append config
  - current.id = "recruit" // ページのID
  - current.title = "先輩社員の声" // タイトル
  - current.description = "先輩社員の声" // 説明文
  - current.bodyClass = "interivews_detail" // body に付与するクラス
  - current.depth = 3 // ページの階層

block page_header
  +c_page_header("bg-pageheader-" + current.id + ".jpg","採用情報")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span: +a("/recruit/") 採用情報
      span >
      span 先輩社員の声

block body
  section.l-main
    +c.opening
      .l-container
        h2.c-opening__title
          | 先輩社員の声
        p.c-opening__text.
          テクノタイムサービスの先輩社員の声を紹介します。

    .l-container
      .row
        .large-10.is-push-lg-1.small-12
          +c.content-box
            +e.inner
              +e.block
                +e.image: +img("img-interviews01.jpg")
                +e.content
                  +e.title 福士 航平さん
                  +e.meta 店舗営業 / 2017年入社
                  +e.subtitle キャッチコピーキャッチコピーキャッチコピー
                  +e.text  ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。
                  +e.button
                    a(href="/recruit/interviews/01/").c-button.is-sm.is-icon
                      span 詳細を見る
                      i.fa.fa-chevron-circle-right
              +e.block
                +e.image: +img("img-interviews02.jpg")
                +e.content
                  +e.title 大島司さん
                  +e.meta 店舗営業 / 2017年中途入社
                  +e.subtitle キャッチコピーキャッチコピーキャッチコピー
                  +e.text  ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。
                  +e.button
                    a(href="/recruit/interviews/01/").c-button.is-sm.is-icon
                      span 詳細を見る
                      i.fa.fa-chevron-circle-right
              +e.block
                +e.image: +img("img-interviews03.jpg")
                +e.content
                  +e.title 遠藤 大輔さん
                  +e.meta 技術 / 2018年入社
                  +e.subtitle キャッチコピーキャッチコピーキャッチコピー
                  +e.text  ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。ここに抜粋テキストが入ります。
                  +e.button
                    a(href="/recruit/interviews/01/").c-button.is-sm.is-icon
                      span 詳細を見る
                      i.fa.fa-chevron-circle-right
  +front_recruit_relation()
  +c_offer()
