extends /inc/foundation/_base.pug

block append config
  - current.id = "sitemap" // ページのID
  - current.title = "サイトマップ" // タイトル
  - current.description = "" // 説明文
  - current.bodyClass = "sitemap" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  // メインビジュアル
  .c-page-header
    h1 SITEMAP
    p 当サイトのコンテンツ一覧を紹介します。
  .l-container
    .c-breadcrumb
      ul
        li
          a(href="#") HOME
        li
          span >
        li
          span SITEMAP
  section.l-main
    .l-section
      .l-container
        .row
          .large-6.small-12
            .p-sitemap
              h2.p-sitemap__title 会社について
              ul
                li: a(href="#") トップページ
                li: a(href="#") 私たちについて
                li: a(href="#") 会社概要
                li: a(href="#") 代表メッセージ
          .large-6.small-12
            .p-sitemap
              h2.p-sitemap__title 会社について
              ul
                li: a(href="#") トップページ
                li: a(href="#") 私たちについて
                li: a(href="#") 会社概要
                li: a(href="#") 代表メッセージ
