extends /inc/foundation/_base.pug
block append config
  - current.id = "news" // ページのID
  - current.title = "お知らせ" // タイトル
  - current.description = "これはお知らせの説明文です" // 説明文
  - current.bodyClass = "news" // body に付与するクラス
  - current.depth = 3 // ページの階層

block page_header
  +c_page_header("bg-pageheader-" + current.id + ".jpg",current.title)
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span お知らせ

block body

  .l-main
    .l-section.is-top
      .l-container.is-sm
        +c.single-head
          h1.c-single-head__title なぜCMSを導入するのか？CMSを導入する目的と、導入の基準、選定の基準
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
        .l-post-content
          +img("img-sample.jpg")
          h2 見出しレベル2見出しレベル2見出しレベル2
          div.u-mbs.is-lg
            h3 見出しレベル3見出しレベル3見出しレベル3
          div.u-mbs.is-lg
            h4 見出しレベル4見出しレベル4見出しレベル4
          div.u-mbs.is-lg
            h5 見出しレベル5見出しレベル5見出しレベル5
          div.u-mbs.is-lg
            h6 見出しレベル6見出しレベル6見出しレベル6
          p.
            ＜p＞ 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。

          div.u-mbs.is-lg
            strong ＜strong＞ 強調テキスト

          div.u-mbs.is-lg
            +a("") ＜a＞ テキストリンク

          div.u-mbs.is-lg
            blockquote.
              これは引用テキストです。これは引用テキストです。これは引用テキストです。これは引用テキストです。

          div.u-mbs.is-lg
            table
              tr
                th テキスト
                td テキストテキストテキスト
              tr
                th テキスト
                td テキストテキストテキスト
              tr
                th テキスト
                td テキストテキストテキスト
        <nav class="c-post-navs is-sm">
        <ul>
        <li class="c-post-navs__prev"><a href="/news/page/">前の記事へ</a></li>
        <li class="c-post-navs__list"><a href="/news/"><span><i class="fa fa-th-list" aria-hidden="true"></i>記事一覧へ</span></a></li>
        <li class="c-post-navs__next"><a href="/news/page/">次の記事へ</a></li>
        </ul>
        </nav>

  +c_offer
