// フッター
//
// フッターの標準スタイル
//
// markup:
// <footer class="l-header"></footer>
//
// Styleguide 5.2.0
.l-footer {
  border-top: 1px solid $border-base-color;
  padding-top: rem-calc(48);
  padding-bottom: rem-calc(48);

  // ロゴ
  &__logo {
    img {
      max-width: 180px;
    }
  }

  // メニュー
  &__menu {
    margin-top:  rem-calc(32);
    ul > li {
      a {
        color: $font-base-color;
        text-decoration: none;
      }
    }
  }

}

// コピーライト
.l-footer-copyright {
  text-align: center;
  background: $font-base-color;
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(16);
  p {
    margin-bottom: 0;
    font-size: rem-calc(12);
    color: $color-white;
  }
}
