//- filename: footer.jade
//- description: フッター

footer.l-footer
    .l-container
        .row
            .large-4
                .l-footer__logo
                    h1
                        img(src="assets/images/logo.png",alt="ロゴ")

            .large-8
                .l-footer__menu
                    .large-4
                        ul
                            li
                                a(href="./index.html") HOME
                            li
                                a(href="./about.html") ABOUT
                            li
                                a(href="./contact.html") CONTACT
                            li
                                a(href="./sitemap.html") SITEMAP
                            li
                                a(href="./privacy-policy.html") PRIVACY POLICY

.l-footer-copyright
    .l-container
        p copyright © sample site All Right Reserved.
