//- filename: footer.jade
//- description: フッター

footer.l-footer
    .l-container
        .row
            .large-4
                .l-footer__logo
                    h1
                        img(src="/assets/images/logo.png",alt="ロゴ")

            .large-8
                .l-footer__menu
                    .large-12
                        ul.c-inline-list
                            each item in config.pages
                                li
                                    a(href="/" + item.name + "/")= item.title


.l-footer-copyright
    .l-container
        p copyright © sample site All Right Reserved.
