//- filename: global-navigation.jade
//- description: グローバルナビゲーション
nav.l-global-navigation
    .l-container
        ul
          each item in config.pages
            li
                a(href="/" + item.name + ".html")= item.title

