//- filename: global-navigation.jade
//- description: グローバルナビゲーション
nav.l-global-navigation
    .l-container
        ul
          each item in config.globalNav
            li
                a(href=item.link)= item.name

