//- filename: global-navigation.jade
//- description: グローバルナビゲーション
nav.l-global-navigation.js-fixedheader
    .l-container
        ul
            li.is-current
                a(href="#") サンプル1
            li
                a(href="#") サンプル2
            li
                a(href="#") サンプル3
            li
                a(href="#") サンプル4
            li
                a(href="#") サンプル5


