//- filename: global-navigation.jade
//- description: グローバルナビゲーション
nav.l-global-navigation
    .l-container
        ul
            li
                a(href="/") HOME
            li.is-active
                a(href="./about.html") ABOUT
            li
                a(href="./service.html") SERVICE
            li
                a(href="#") WORKS
            li
                a(href="./contact.html") CONTACT


