header.l-header
  .l-container
    .l-header__content
      +a("/").l-header__logo
        +img("logo.png","TECHNO TIME SERVICE")
        h1.l-header__heading
          | 時計修理・修理部品の<br class="u-hidden-lg">手配なら
          <br class="u-hidden-sm">
          | テクノタイム<br class="u-hidden-lg">サービスへ
      .l-header__contact.u-hidden-lg
        a(href="tel:045-581-7111").l-header__telbutton
          i.fa.fa-phone
          span TEL
      .l-header__contact.u-hidden-sm
        .l-header__tel.u-hidden-sm
          <small>受付時間 : 10：00～16：00</small>
          <i class="fa fa-phone" aria-hidden="true"></i>045-581-7111
        .l-header__navs
          ul.l-header__menu
            li: +a("/news/") お知らせ
            li: +a("/company/") アクセス
          .l-header__buttons
            +a("/contact/").l-header__button__work
              | 業務のお問い合わせ
            +a("/recruit/entry/").l-header__button__recruit
              | 採用のお問い合わせ

//- グローバルナビゲーション
nav.l-global-nav
  .l-container
    ul
      each item in nav("global_nav")
        li
          +a(item.url)!= item.text
          if item.children
            ul
            each child_item in item.children
              li
                +a(child_item.url)!= child_item.text
