header.l-header
    .l-container
        .row
            .large-3
                a(href="#").l-header__logo
                    img(src="assets/images/logo.png",alt="ロゴ")
            .large-9
                .l-header__tel.u-text-right
                    i.fa.fa-phone
                    | 0120-000-0000
