header.l-header
  .l-container
    .row
      .large-3.small-12
        +a("/").l-header__logo
          +img("logo.png","ロゴ")
      .large-9.small-12
        .l-header__tel.u-text-right
          i.fa.fa-phone
          | 0120-000-0000
