//- filename: global-navigation.jade
//- description: グローバルナビゲーション
nav.global-navigation
    ul
        li.current
            a(href="#") ナビ1
        li
            a(href="#") ナビ2
        li
            a(href="#") ナビ3
