//- 2カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug

  //- グローバルナビゲーション
  block global_nav
    include /inc/layout/_global-nav.pug

  // ページヘッダー
  block page_header

  .l-wrapper
    .l-container
      .l-main
        //- メインコンテンツ
        block body

      .l-aside
        block aside

  //- フッター
  block footer
    include /inc/layout/_footer.pug

